.parallax {
    /* The image used */
    background-image: url("background.png");
  
    /* Full height */
    min-height: 100vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:-10px;
    padding: 30px;
  }

  .verdana {font-family: Verdana, Geneva, Tahoma, sans-serif;}

  .fontBig {
    font-size: 50px;
  }

  .fontSmall {
    font-size: 16px;
  }

  .box {
    border: 2px solid;
    width: 400px;
    padding: 10px;
    box-shadow: 5px 10px #888888;

    display: inline-block;
    position: relative;
    margin: 1%;
    background-color: lightgrey;
  }